<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175063732296-dam79espt1o44o1iqo05lvt2skudesqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175063732296-dam79espt1o44o1iqo05lvt2skudesqc</string>
	<key>API_KEY</key>
	<string>AIzaSyC9N7rBkPbuhLJUP2qghokowS_Fo5pWFFk</string>
	<key>GCM_SENDER_ID</key>
	<string>175063732296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tryhikearound</string>
	<key>PROJECT_ID</key>
	<string>hikearound-14dad</string>
	<key>STORAGE_BUCKET</key>
	<string>hikearound-14dad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175063732296:ios:210a1a5596de4f51a5887d</string>
	<key>DATABASE_URL</key>
	<string>https://hikearound-14dad.firebaseio.com</string>
</dict>
</plist>